name: Build
on:
  workflow_call:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
          - os: ubuntu-latest
            platform: linux
            exe: 
          - os: windows-latest
            platform: windows
            exe: .exe
          - os: macos-latest
            platform: macos
            exe: 

    runs-on: ${{ matrix.os }}
    steps:
      - name: Fetch repository
        uses: actions/checkout@v2

      - name: Configure rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable

      - name: Enable Cargo caching
        uses: Swatinem/rust-cache@v1

      - name: Build
        run: cargo build --release

      - name: Compress binary executable for Unix
        if: ${{ runner.os == 'macOS' || runner.os == 'Linux' }}
        run: cd ./target/release && tar -cvzf guessing-game-${{ matrix.platform }}-${{ runner.arch }}.tar.gz guessing-game

      - name: Compress binary executable for Windows
        if: ${{ runner.os == 'Windows' }}
        run: cd ./target/release && powershell.exe "compress-archive guessing-game.exe guessing-game-${{ matrix.platform }}-${{ runner.arch }}.zip"

      - name: Upload ${{ matrix.platform }} artifact
        uses: actions/upload-artifact@v2
        with:
          name: guessing-game-${{ matrix.platform }}-${{ runner.arch }}
          path: ./target/release/guessing-game-${{ matrix.platform }}-${{ runner.arch }}.**